@{
    ViewBag.Title = "Services";
}

@section featured
{
    <div class="fundo container">
    <h2 class="page-header">@ViewBag.Title</h2>
        <div class="contactJumbo">
            <div class="container">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Description</a>
                        </li>
                    </ul>
                </div>
            </div>
                        
        </div>
</div>
}
